@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

:root{
    --color-white: rgb(248, 248, 248);
    --color-black: rgb(31, 31, 31);
    --regular-font-family: "Ubuntu";
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--color-white);
    font-family: var(--regular-font-family);
}

::selection {
    background-color: #222;
    color: white;

}

*, *::after, *::before{
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-image: url(../imgs/background1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

#header {
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    min-height: 85px;
    gap: 7px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.185);
}

#header h1{
    margin: 5px;
}

#header img {
    height: 60px;
}

#content {
    flex-grow: 1;
    display: flex;
}

#sidebar {
    background-color: rgba(0, 0, 0, 0.336);
    width: 23%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

#sidebar .add-container{
    padding: 3px;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.6rem;
    border-bottom: 4px solid rgb(255, 255, 255);
}

.add-container img{
    transition: 0.5s;
}

.add-container:hover img{
    transform: rotate(180deg);
}

.add-container h2 {
    margin: 10px;
}

.add-container img{
    width: 50px;
}

#sidebar .add-container:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

.modal-container{
    background-color: rgba(255, 255, 255, 0.418);
}

.modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0.3em);
    backdrop-filter: blur(0.3em);
}


.add-modal, .details-modal, .edit-modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-between;
    animation: popup 0.3s;
}

.add-modal{ 
    width: 60%;
    height: 500px;
    background-image: url(../imgs/background2.svg);
}

.details-modal {
    flex-direction: column-reverse;
    width: 40%;
    min-width: 350px;
    background-image: url(../imgs/background3.svg);
    padding: 10px;
    text-shadow: 0px 0px 10px black;
    font-size: 1.2rem;
}

.edit-modal{
    width: 40%;
    height: 500px;
    background-image: url(../imgs/background4.svg);
}


@keyframes popup {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;;
    }
}

.add-modal .modal-header, .edit-modal .modal-header{
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 7px 7px 0px 0px;
    min-height: 50px;
    font-size: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
}

.add-modal .modal-header h1, .edit-modal .modal-header h1{
    margin: 0;   
    margin-left: 5px;
}

.add-modal .modal-content, .edit-modal .modal-content{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.modal-sidebar{
    background-color: rgba(0, 0, 0, 0.226);
    min-width: 130px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 0 0 7px;
}

.modal-sidebar h3{
    margin: 13px;
    margin-left: 10px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.modal-sidebar h3:hover{
    transform: scale(1.05);
}

.add-modal form, .edit-modal form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 7px;
    text-shadow: 0px 0px 13px black;
    gap: 30px;  
    flex-grow: 1;
    padding: 20px;
}

.add-modal form h1, .edit-modal form h1{
    min-height: 30px;
    font-size: 2rem;
    margin-top: 0;
}

.add-modal form .input-container, .edit-modal form .input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    width: 100%;
}

.add-modal form .date, .edit-modal form .date{
    justify-content: flex-start;
    gap: 20px;
}

.add-modal input, .edit-modal input{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
    width: 80%;
    height: 30px;
    font-size: 1.3rem;
}

.add-modal input[type="date"], .edit-modal input[type="date"]{
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.822);
    color: black;
    border-bottom: 2px solid black;
    width: auto;
}

.add-modal input[type="radio"], .edit-modal input[type="radio"]{
    opacity: 0;
    width: 2rem;
    height: 1em;
    background-color: #fff;
    position: absolute;
}

.add-modal textarea, .edit-modal textarea{
    font-size: 1.2rem;
    height: 80px;
    width: 80%;
    background-color: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    resize: none;
    border-radius: 15px;
}

.input-container:focus, input:focus, textarea:focus{
    outline: none;
}

.add-modal input[type="date"]:focus, .edit-modal input[type="date"]:focus{
    outline: 2px solid black;
    border-radius: 7px;
    border-bottom: 2px solid transparent;
}

.add-modal label, .add-modal span, .edit-modal label, .edit-modal span{
    font-size: 1.7rem;
}

.submit_container {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
}

button.submit, button.reset {
    width: 45%;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.1s;
    text-shadow: 0px 0px 13px black;
}

div.submit_container > button > img {
    height: 25px;
    width: 25px;
    margin-bottom: 3px;
}

div.submit_container button:hover {
    transform: scale(1.05);
}

div.submit_container button:active {
    transform: scale(0.97);
}

.close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close img {
    width: 40px;
}

.project-div {
    font-weight: 600;
    font-size: 1.7rem;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 14px;
    border-bottom: 3px solid transparent;
    transition: 0.1s;
    width: 85px;
    align-self: center;
}

.project-div:first-of-type{
    margin-top: 0px;
}

.project-div:hover{
    transform: scale(1.1);
    
}

.default-projects-container{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


#todos-container {
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#todos-container h1{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 20px black;
}

.todos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 7px;
    font-size: 1.3rem;
    padding: 20px;
    gap: 20px;
}

.radio-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-container label {
    border-radius: 7px;
    padding: 3px 10px;
    font-size: 1.5rem;
    text-shadow: none;
    transition: 0.2s;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
}

.radio-container label[for$="low"]{
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

.radio-container label[for$="medium"]{
    border: 2px solid yellow;
    color: yellow;
}

.radio-container label[for$="high"]{
    border: 2px solid rgb(255, 56, 42);
    color: rgb(255, 56, 42);
}

.radio-container:hover label{
    transform: scale(1.05);
}

input[type="radio"]:checked+label {
    color: black;
    text-shadow: none;
}

input[type="radio"]:checked+label[for$="low"] {
    background-color: rgb(0, 255, 0);
}

input[type="radio"]:checked+label[for$="medium"] {
    background-color: yellow;
}

input[type="radio"]:checked+label[for$="high"] {
    background-color: rgb(255, 56, 42);
}

form[id="add-note"] textarea{
    height: 160px;
}

form[id="add-note"] label{
    align-self: flex-start;
}

div.task-div {
    height: 60px;
    width: 85%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #3bb162 0%, #b61dac 46%, #3f5a8b 100%);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    transition: 0.1s;
}

div.task-div:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.76);
}

div.task-div[data-status="checked"] {
    background-color: #1b1b1b71;
    background-image: none;
}

div.task-div[data-status="checked"] > div {
    text-decoration: line-through;
}

div.task-div div {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100px;
}

div.task-div img{
    height: 30px;
    margin-bottom: 2px;
}

div.task-div img:first-of-type{
    margin-bottom: 4px;
}

div.task-div button{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: white;
    transition: 0.2s;
}

div.task-div button:hover, div.task-div img:hover{
    transform: scale(1.07);
}

.details-content{
    margin-left: 20px;
    margin-bottom: 20px;
}

.details-content h1{
    margin-top: 0;
}

.new-projects-container{
    width: 80%;
    border-top: 3px solid #22222265;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.projects-header{
    color:rgb(219, 0, 164);
    background-color: #22222293;
    padding: 3px;
    border-radius: 5px;
    width: fit-content;
    align-self: flex-start;
}


