@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

:root{
    --color-white: rgb(248, 248, 248);
    --color-black: rgb(31, 31, 31);
    --regular-font-family: "Ubuntu";
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--color-white);
    font-family: var(--regular-font-family);
}

*, *::after, *::before{
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-image: url(../imgs/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

#header {
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    min-height: 85px;
    gap: 7px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.185);
}

#header h1{
    margin: 5px;
}

#header img {
    height: 60px;
}

#content {
    flex-grow: 1;
    display: flex;
}

#sidebar {
    background-color: rgba(0, 0, 0, 0.336);
    width: 23%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#sidebar .add-container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.add-container img {
    width: 50px;
}

#sidebar .add-container:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

.modal-container{
    background-color: rgba(255, 255, 255, 0.418);
}

.modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0.3em);
    backdrop-filter: blur(0.3em);
}


.projectAddModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-image: url(../imgs/modalProject.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: popup 0.3s;
}

@keyframes popup {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;;
    }
}

.projectAddModal form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-radius: 7px;
    text-shadow: 0px 0px 13px black;
    gap: 10px;    
}

.projectAddModal form h1 {
    min-height: 30px;
    font-size: 2rem;
    margin-top: 0;
}

.projectAddModal form .input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
    width: 80%;
}

.projectAddModal input{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
    width: 80%;
    height: 30px;
    font-size: 1.3rem;
    text-shadow: 0px 0px 13px black;
}

.input-container:focus, input:focus{
    outline: 2px solid white;
    border-radius: 7px;
    border-bottom: 2px solid transparent;
}

.projectAddModal label{
    font-size: 1.7rem;
}

.submit_container {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
}

button.submit, button.reset {
    width: 45%;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.1s;
    text-shadow: 0px 0px 13px black;
}

div.submit_container > button > img {
    height: 25px;
    width: 25px;
    margin-bottom: 3px;
}

div.submit_container button:hover {
    transform: scale(1.05);
}

div.submit_container button:active {
    transform: scale(0.97);
}

.close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close img {
    width: 40px;
}

